# 1. 상위 n개 추출
- mySQL
```
SELECT A
FROM B
LIMIT n
```
- Oracle
```
SELECT A
FROM B
WHERE ROWNUM <= n
```
- SQL Server
```
SELECT TOP n A
FROM B
```