# 1. 상위 n개 추출
- mySQL
```
SELECT A
FROM B
LIMIT n
```
- Oracle
```
SELECT A
FROM B
WHERE ROWNUM <= n
```
- SQL Server
```
SELECT TOP n A
FROM B
```

# 2. MIN/MAX
## 1) 전체의 MIN/MAX 값 찾기 : GROUP BY 사용X
- mySQL
```
SELECT MAX(A)
FROM B
```
- Oracle : AS 안쓰기, "" 사용
```
SELECT MAX(DATETIME) "시간"
FROM ANIMAL_INS
```

## 2) 각 그룹에서 MIN/MAX 값 찾기 : GROUP BY 사용O
- mySQL
```
SELECT MAX(A) AS '시간'
FROM B
GROUP BY A
```
- Oracle
```
SELECT MAX(DATETIME) "시간"
FROM ANIMAL_INS
GROUP BY A
```

# 3. DISTINCT
- mySQL
```
SELECT COUNT(DISTINCT(A))
```
- Oracle
```
SELECT COUNT(DISTINCT A)
```